/* Navbar Styles */
.navbar {
  background: linear-gradient(135deg, #f06, #6f0, #06f, #f06);
  background-size: 400% 400%;
  animation: gradient 15s linear infinite;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #1b1a1a;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 300px;
}
.nav-item {
  margin-left: 5px;
}
.nav-link:hover {
  color: #fff;
}

.home {
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 10px 0;
  margin-top:35px;
  text-align: center;
}


.user-icon,
.fav,
.cart {
  margin-left:20px;
    font-size: 25px;
  color: #02060a;
}

.section {
  padding: 100px 0;
}

ul li {
  list-style: none;
  text-align: center;
  
}


.image-container {
  position: relative;
  width: 100%;
  max-width: 100%; 
}


.image-container img {
  width: 100%;
  height: auto;
  display: block;
  opacity:0.7;
}


.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #060606;
  border-radius: 5px;
  font-size: 24px;
}

/* Media query for image */
@media (max-width: 768px) {
  .image-text {
    font-size: 14px;
  }
}

.fa-cart-plus{
  color: black;
}